<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Beans Maps Demo</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <link href="https://www.beans.ai/mapswidget/css/mapswidget-1.0.4.css" rel="stylesheet">
    <link href="https://js.arcgis.com/4.23/esri/themes/light/main.css" rel="stylesheet">
    <link
      href="https://js.arcgis.com/4.23/esri/themes/light/main.css"
      rel="stylesheet"
    />
    <style>
      .mapboxgl-popup {
        max-width: 400px;
        font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
      }
    </style>
  </head>

  <body style="padding: 0; margin: 0">
    <div id="body-outer-1" class="beans-outer-container">
      <div id="beans-property-picker"></div>
      <div id="body-inner-1" style="width: 100vw; height: 100vh; max-height: -webkit-fill-available;">
      </div>
    </div>

    <script>
      var dojoConfig = {
        has: {
          "featurelayer-snapshot-enabled": 0,
        },
      };
    </script>

    <div
      id="button-switch"
      style="
        position: fixed;
        top: 10px;
        left: calc(50% - 10px);
        background-color: #fff;
        padding: 10px;
        cursor: pointer;
      "
    >
      Switch
    </div>

    <script type="text/javascript" src="https://js.arcgis.com/4.23/"></script>
    <script type="text/javascript" src="https://www.beans.ai/mapswidget/js/mapswidget-1.0.4-speed.js"></script>
    <script type="text/javascript" src="https://www.beans.ai/mapswidget/client/utils.js"></script>
    <script type="text/javascript">
      var config = {
        address: "835 Virginia Rose Ave, Westfield, IN",
      };
      var unitsArr = [
        {
          unit: "835-105",
          bed: "1",
          bath: "1",
          sqft: "1024",
          rent: "3200",
        },
        {
          unit: "867-317",
          bed: "1",
          bath: "1",
          sqft: "1024",
          rent: "3200",
        },
        {
          unit: "777-104",
          bed: "1",
          bath: "1",
          sqft: "1024",
          rent: "3200",
        },
        {
          unit: "851-103",
          bed: "2",
          bath: "4",
          sqft: "1024",
          rent: "3200",
        },
        {
          unit: "835-205",
          bed: "1",
          bath: "1",
          sqft: "1024",
          rent: "3200",
        },
        {
          unit: "867-218",
          bed: "1",
          bath: "1",
          sqft: "1024",
          rent: "3200",
        },
        {
          unit: "777-204",
          bed: "1",
          bath: "1",
          sqft: "1024",
          rent: "3200",
        },
        {
          unit: "851-203",
          bed: "2",
          bath: "4",
          sqft: "1024",
          rent: "3200",
        },
      ];
      convertedArr = convertUnitsArr(config, unitsArr, true, true);

      var displayOptions = {
        propertyAddress: "835 Virginia Rose Ave, Westfield, IN",
        filteredRows: null, // Pass null to not filter
        initialMap: "STREET",
        hideFilters: true,
        showUnitShape: true,
        showUnitList: true,
        showCompass: true,
        modernBeansCard: true,
        camera: {
          tilt: 64.8254923581986,
          heading: 269.2106860279421,
          position: {
            x: -86.13995185284732,
            y: 40.04721863111514,
            z: 122.44992488436401,
          },
        },
        unitShape: {
          fillOpacity: 0.5,
        },
        selectedUnitShape: {
          fillColor: "#FF0000",
          fillOpacity: 1.0,
        },
        selectableUnitShape: {
          fillColor: "#00FF00",
          fillOpacity: 1.0,
        },
      };
      var be = new BeansMap();
      be.render(
        "body-inner-1",
        "9e71b448379d4d4:6261376538386130646137313439633238656461",
        convertedArr,
        {
          userLocation: "LIVE",
          hideNavigateButton: true,
        },
        displayOptions
      );

      var mode = 0;
      var renderSwitch = function () {
        mode++;

        if (mode % 2 === 0) {
          displayOptions.filteredRows = [0, 1, 2, 3];
          be.setDisplayOptions(displayOptions);
          be.redraw();
        } else {
          displayOptions.filteredRows = [4, 5, 6, 7];
          be.setDisplayOptions(displayOptions);
          be.redraw();
        }
      };

      var x = document.getElementById("button-switch");
      x.addEventListener("click", function () {
        renderSwitch();
      });
    </script>
  </body>
</html>
