.h-500{
  height: 500px;
}
.h-700{
  height: 700px;
}
.numbers_div{
  height: 500px;
  display: table;
}
.numbers_div_700{
  height: 700px;
  display: table;
}
.center_it{
  display: table-cell;
  vertical-align: middle;
  text-align:center;
}
.count_int{ font-size: 100px; }
.count_text{ font-size: 16px; }
.chartjs-render-monitor{ margin-top: 60px; }
.marg-150 {
	margin-top: 150px;
  margin-bottom: 150px;
}
.hour_session_row .chartjs-render-monitor{
  height: 700px !important;
}