.h-500{
  height: 500px;
}
.h-700{
  height: 700px;
}
.numbers_div{
  height: 500px;
  display: table;
}
.numbers_div_700{
  height: 700px;
  display: table;
}
.center_it{
  display: table-cell;
  vertical-align: middle;
  text-align:center;
}
.count_int{ font-size: 100px; }
.count_text{ font-size: 16px; }
.chartjs-render-monitor{ margin-top: 60px; }
.marg-150 {
	margin-top: 70px;
  margin-bottom: 70px;
}
.hour_session_row .chartjs-render-monitor{
  height: 700px !important;
}
.half_count_int { font-size: 50px !important;}
.maps-box .row { border: 1px solid #d7d7d7; padding-bottom: 80px; }
.mt-80 { margin-top: 80px;}