.h-500{
  height: 500px;
}
.numbers_div{
  height: 500px;
  display: table;
}
.center_it{
  display: table-cell;
  vertical-align: middle;
  text-align:center;
}
.count_int{ font-size: 100px; }
.count_text{ font-size: 16px; }
.chartjs-render-monitor{ margin-top: 60px; }