/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require jquery-ui.min
 *= require font-awesome
 *= require pyn.min
 *= require skins/_all-pyn.min
 *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
 *= require validationEngine.jquery
 *= require bootstrap-colorpicker.min
 *= require jcrop
 *= require ekko-lightbox
 *= require pyn-custom
 *= require dropzone
 *= require chosen.min
 *= require multi-select
 *= require bootstrap-select
 *= require bootstrap-wysihtml5
 *= require tour_users
 *= require easy-loading
 *= require zoom-marker
 */
 
@keyframes shadow-pulse
{
	0% {
		box-shadow: 0 0 0 0px rgba(0,128,16, 1);
	}
	100% {
		box-shadow: 0 0 0 17px rgba(0,128,16, 0);
	}
}

.animate-element {
	 animation: shadow-pulse 0.5s infinite;
}

.path_point{
	width: 20px; height: 20px; background-color: #555855; border: 2px solid #1c1c1d; border-radius: 10px; box-shadow: inset 0 0 0 3px whitesmoke; z-index: 100000; position: absolute;
}
.start-point{
	width: 25px; 
	height: 25px; 
	background-color: #ad100a; 
	border: 2px solid #c11616; 
	border-radius: 16px; box-shadow: inset 0 0 0 3px whitesmoke; z-index: 100000; 
	position: absolute;
}
.start-point img {
	width: 20px;
	border-radius: 10px;
	display: none;
}
.lock_mismatch  {
    color: #ffffff !important;
    background-color: #e46d6d !important;
}
.update-lock  {
    float: right;
    margin-top: 5px;
}
.btn-text-color  {
    color: #ffffff !important;
}
#lock_histories_style{
    font-size: large;
    color: red;
}
@font-face {
    font-family: 'GaramondPro';
    src: url('AGaramondPro-Regular.otf');
}
@font-face {
    font-family: 'Akzidenz Grotesk BE';
    src: url('AkzidenzGroteskBE-MdCn.otf');
}
@font-face {
    font-family: 'Aleo Bold';
    src: url('Aleo-Bold.otf');
}
@font-face {
    font-family: 'Aleo Light';
    src: url('Aleo-Light.otf');
}
@font-face {
    font-family: 'Aleo Regular';
    src: url('Aleo-Regular.otf');
}
@font-face {
    font-family: 'Arial';
    src: url('Arial.ttf');
}
@font-face {
    font-family: 'Avenir LT Std 35 Light';
    src: url('AvenirLTStd-Light.otf');
}
@font-face {
    font-family: 'Beaufort';
    src: url('Beaufort-Regular.ttf');
}
@font-face {
    font-family: 'Bodoni MT';
    src: url('Bodoni-mt.TTF');
}
@font-face {
    font-family: 'DIN';
    src: url('DIN Bold.otf');
}
@font-face {
    font-family: 'District Pro Demi';
    src: url('DistrictPro-Demi.otf');
}
@font-face {
    font-family: 'District Pro Thin';
    src: url('DistrictPro-Thin.otf');
}
@font-face {
    font-family: 'Futura Bk BT';
    src: url('Futura Bk BT Book.ttf');
}
@font-face {
    font-family: 'Georgia';
    src: url('Georgia.ttf');
}
@font-face {
    font-family: 'Gotham-Bold';
    src: url('Gotham-Bold.otf');
}
@font-face {
    font-family: 'Gotham Condensed Book';
    src: url('GothamCond-Book.otf');
}
@font-face {
    font-family: 'Gotham Book';
    src: url('GothamCondensed-Medium.otf');
}
@font-face {
    font-family: 'Gotham Condensed Light';
    src: url('GothamCond-Light.otf');
}
@font-face {
    font-family: 'Gotham Light';
    src: url('Gotham-Light.otf');
}
@font-face {
    font-family: 'Gill Sans MT';
    src: url('GillSans.ttc');
}
@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-LtEx.otf');
}
@font-face {
    font-family: 'Helvetica-Normal';
    src: url('HelveticaNeueLTStd-MdEx.otf');
}
@font-face {
    font-family: 'Jura Bold';
    src: url('Jura-DemiBold.otf');
}
@font-face {
    font-family: 'Jura Regular';
    src: url('Jura-Regular.otf');
}
@font-face {
    font-family: 'Lato Bold';
    src: url('Lato-Bold.ttf');
}
@font-face {
    font-family: 'Lato Light';
    src: url('Lato-Light.ttf');
}
@font-face {
    font-family: 'Lato Regular';
    src: url('Lato-Regular.ttf');
}
@font-face {
    font-family: 'Montserrat Light';
    src: url('Montserrat-Light.otf');
}
@font-face {
    font-family: 'Montserrat Medium';
    src: url('Montserrat-Medium.otf');
}
@font-face {
    font-family: 'Myriad Pro';
    src: url('MyriadPro-Cond.otf');
}
@font-face {
    font-family: 'Myriad Pro Regular';
    src: url('MyriadPro-Regular.otf');
}
@font-face {
    font-family: 'Neutra Display Alt';
    src: url('NeutraDisp-Medium.otf');
}
@font-face {
    font-family: 'Open Sans Bold';
    src: url('OpenSans-Bold.ttf');
}
@font-face {
    font-family: 'Open Sans Light';
    src: url('OpenSans-Light.ttf');
}
@font-face {
    font-family: 'Open Sans Regular';
    src: url('OpenSans-Regular.ttf');
}
@font-face {
    font-family: 'Oswald Light';
    src: url('oswald.light.ttf');
}
@font-face {
    font-family: 'Oswald Regular';
    src: url('Oswald-Regular.ttf');
}
@font-face {
    font-family: 'Play Fair Display';
    src: url('PlayfairDisplay-Regular.otf');
}
/*@font-face {*/
/*font-family: 'Bodoni MT';*/
/*src: url('PlayfairDisplay-Regular.ttf');*/
/*}*/
@font-face {
    font-family: 'Poppins Light';
    src: url('Poppins-Light.otf');
}
@font-face {
    font-family: 'Poppins Medium';
    src: url('Poppins-Medium.otf');
}
@font-face {
    font-family: 'Poppins Semi Bold';
    src: url('Poppins-SemiBold.otf');
}
@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('ProximaNova-Bold.otf');
}
@font-face {
    font-family: 'Proxima Nova Regular';
    src: url('ProximaNova-Regular.otf');
}
@font-face {
    font-family: 'Proxima Nova Light';
    src: url('ProximaNova-Light.otf');
}
/* @font-face {
    font-family: 'Proxima Nova rg';
    src: url('ProximaNova-Regular.otf');
} */
@font-face {
    font-family: 'Raleway Regular';
    src: url('Raleway-Regular.ttf');
}
@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-Regular.ttf');
}
@font-face {
    font-family: 'Roboto Medium';
    src: url('Roboto-Medium.ttf');
}
@font-face {
    font-family: 'SourceSansPro Regular';
    src: url('SourceSansPro-Regular.ttf');
}
@font-face {
    font-family: 'Tahoma';
    src: url('Tahoma.ttf');
}
@font-face {
    font-family: 'ThrohandRegular';
    src: url('ThrohandRegular-Roman.otf');
}
@font-face {
    font-family: 'Trajan Pro';
    src: url('TRAJANPRO3-REGULAR.OTF');
}
@font-face {
    font-family: 'Trajan Pro Bold';
    src: url('TRAJANPRO-BOLD.OTF');
}
@font-face {
    font-family: 'Univers LT Std';
    src: url('Univers LT Std 45 Light.ttf');
}
@font-face {
    font-family: 'Lucida Fax';
    src: url('LFAX.ttf');
}
@font-face {
    font-family: 'Kievit';
    src: url('kievit_regular.ttf');
}
@font-face {
    font-family: 'Garamond MT';
    src: url('Garamond MT.ttf');
}
@font-face {
    font-family: 'Garamond';
    src: url('Garamond.ttf');
}
@font-face {
    font-family: 'Franklin Gothic Medium';
    src: url('Franklin Gothic Medium.ttf');
}
@font-face {
    font-family: 'Avenir Medium';
    src: url('Avenir.ttc');
}
@font-face {
    font-family: 'Avenir Next Condensed Regular';
    src: url('Avenir Next Condensed.ttc');
}
@font-face {
    font-family: 'Avenir Next Semi Bold';
    src: url('Avenir Next Condensed.ttc');
}
@font-face {
    font-family: 'Bebas Neue regular';
    src: url('BebasNeue-Regular.otf');
}
@font-face {
    font-family: 'DIN Bold';
    src: url('DIN Bold.otf');
}
@font-face {
    font-family: 'Helvetica Neue thin';
    src: url('HelveticaNeue.ttc');
}
@font-face {
    font-family: 'Proxima Nova Condensed';
    src: url('ProximaNovaCond-Regular.otf');
}
@font-face {
    font-family: 'Proxima Nova Medium';
    src: url('ProximaNova-medium');
}
@font-face {
    font-family: 'Avenir Light';
    src: url('AvenirLTStd-Light.otf');
}
@font-face {
    font-family: 'Bodoni MT Condensed';
    src: url('Bofoni MT Condensed.ttf');
}
@font-face {
    font-family: 'Baskerville';
    src: url('Baskerville.ttc');
}
