/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require jquery-ui.min
 *= require font-awesome
 *= require pyn.min
 *= require skins/_all-pyn.min
 *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
 *= require validationEngine.jquery
 *= require bootstrap-colorpicker.min
 *= require jcrop
 *= require ekko-lightbox
 *= require pyn-custom
 *= require dropzone
 *= require multi-select
 *= require bootstrap-select
 *= require bootstrap-wysihtml5
 */
@keyframes shadow-pulse
{
	0% {
		box-shadow: 0 0 0 0px rgba(0,128,16, 1);
	}
	100% {
		box-shadow: 0 0 0 17px rgba(0,128,16, 0);
	}
}

.animate-element {
	 animation: shadow-pulse 0.5s infinite;
}

.path_point{
	width: 20px; height: 20px; background-color: #555855; border: 2px solid #1c1c1d; border-radius: 10px; box-shadow: inset 0 0 0 3px whitesmoke; z-index: 100000; position: absolute;
}
.start-point{
	width: 25px; 
	height: 25px; 
	background-color: #ad100a; 
	border: 2px solid #c11616; 
	border-radius: 16px; box-shadow: inset 0 0 0 3px whitesmoke; z-index: 100000; 
	position: absolute;
}
.start-point img {
	width: 20px;
	border-radius: 10px;
	display: none;
}

