@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Poppins:100,200,400,500,600,700,800|Nunito:300,400,600,700,800";

html, body {
  overscroll-behavior-y: none;
}

.gm-style iframe + div { border:none!important; }

.gm-style-iw-chr span {
  width: 12px !important;
  height: 12px !important;
  margin: 3px !important;
}

.gm-style-iw-chr button {
  width: 20px !important;
  height: 30px !important;
}

.floorplan-container {
  position: absolute;
  top: 30px;
  left: 30px;
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  background-color: #fff;
  z-index: 999;
}

.floorplan-container-outer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.floorplan-img-container {
  text-align: center;
  width: 100%;
  height: 100%;
}

.floorplan-img {
  max-width: 100%;
  max-height: 100%;
  margin-top: 40px;
}

.esri-view .esri-view-surface:focus::after {
  outline: none !important;
}‍‍‍

.clear {
}

.unitlist-filters-selected {
  margin-top: 10px;
}

.unitlist-filters-crumb-container {
  background-color: #eee;
  border-radius: 5px;
  display: inline-block;
  margin: 0 4px 4px 0;
  padding: 5px;
}

.unitlist-filters-crumb {
  font-size: 0.7rem !important;
  display: inline-block;
}

.unitlist-filters-crumb-delete {
  display: inline-block;
  margin-left: 5px;
  background-color: #ccc;
  border-radius: 0.5rem;
  width: 1rem;
  font-size: 0.7rem !important;
  text-align: center;
  cursor: pointer;
}

.unitlist-filter-button {
  cursor: pointer;
}

.unitlist-filter-button:hover {
  cursor: pointer;
  color: #1a0dab;
}

.unitlist-filter-container {
  flex-wrap: wrap;
  flex-direction: row;
  display: none;
}

.unitlist-filter-container.active {
  display: flex;
}

.unitlist-filter-container.modern {
  display: flex;
}

.unitlist-filter-container.modern.active {
  display: flex;
}

.standalone-filters {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  top: 20px;
  left: 20px;
  width: 280px;
  max-width: calc(100% - 100px);
  padding: 10px 10px 20px 30px;
  z-index: 999;
  font-size: 0.8rem;
}

.unitlist-filter-container.standalone {
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
}

.unitlist-filter-container.standalone .unitlist-filter-select {
  max-width: 90px;
}

.unitlist-filter-container .unitlist-filter-select {
  /* max-width: 95px; */
  padding: 8px;
  border-radius: 4px;
  color: #000;
}

.unitlist-filter-container .unitlist-filter-list {
  display: none;
}

.beans-card.modern .unitlist-filter-container .unitlist-filter-select {
  /* width: 72px; */
  padding: 8px;
  border-radius: 4px;
  color: #000;
}

.unitlist-filter-container .unitlist-filter-title {
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  font-weight: 500 !important;
}

.beans-outside-button-container .list-filters-active, .beans-outside-button-container .list-floors-active {
  border: 1px solid #eee;
}

.unitlist-filter-container.modern .unitlist-filter-select {
  display: none;
}

.unitlist-filter-container.modern .unitlist-filter-list {
  width: 77px;
  display: block;
}

.unitlist-filter-container.modern .unitlist-filter-option {
  cursor: pointer;
  padding: 5px;
  border-bottom: 1px solid #eee;
}

.unitlist-filter-container.modern .unitlist-filter-option.selected {
  background-color: #eee;
}

.unitlist-filter-container.modern .unitlist-filter-apply {
  display: none;
}

.beans-map-button-container .beans-map-button-text {
  display: inline-block;
  margin-left: 10px;
  margin-top: 6px;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.beans-outside-button-container .beans-map-button-text {
  margin-top: 9px;
  font-size: 14px;
  float: left;
  font-weight: 400;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.beans-outside-button-container .beans-map-button-image {
  float: left;
  width: 20px;
  height: 20px;
  margin-top: 10px;
  margin-right: 10px;
}

.beans-outside-button-container .beans-map-button-text-with-image {
  margin-left: calc(50% - 40px);
}

.beans-map-button-container {
  width: 140px;
  border-radius: 15px;
  display: flex;
  background-color: var(--beans-color-1, #0CB1A1);
  margin-top: 10px;
  cursor: pointer;
}

.beans-outside-button-container {
  height: 40px;
  position: absolute;
  top: 0px;
  width: 50%;
  display: flex;
  background-color: var(--beans-color-1, #0CB1A1);
  color:  var(--beans-text-color-1, #fff);
  cursor: pointer;
  z-index: 999;
}

.beans-map-icon {
  height: 30px !important;
  background-size: 30px 30px !important;
  width: 30px !important;
  display: inline-block;
}

.showonmap {
  color: #0645AD !important;
  cursor: pointer;;
  margin-left: 10px;
}

.beans-card div, .beans-card span {
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.65714286em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #484848;
}

.links-card div, .links-card span {
  font-family: "Poppins", sans-serif;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.65714286em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #484848;
}

.floor-card div, .floor-card span {
  font-family: "Poppins", sans-serif;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.65714286em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #484848;
}

.parking-card {
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 175px;
}
.parking-card div, .parking-card span {
  font-family: "Poppins", sans-serif;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.65714286em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #484848;
}

/* @media screen and (max-width: 500px) { */
@container body2 (max-width: 500px) {
  .beans-card {
    padding-top: 10px;
    padding-bottom: 20px;
  }
}

.beans-card .beans-row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin-top: 10px;
}

.beans-card .beans-col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  position: relative;
  width: 100%;
  padding: 0;
}

.beans-card .result-card {
  display: none;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
}

.beans-card .result-card.active {
  display: block;
}

.beans-card .line1 {
  max-width: calc(100vw - 130px);
  font-size: 0.9rem;
  color: #484848;
  display: inline-block;
  height: 22px;
  overflow: hidden;
}


.beans-card .line2, .beans-card .line3, .beans-card .line4 {
  color: #999;
  max-width: calc(100vw - 130px);
}

/* @media screen and (max-width: 500px) { */
@container body2 (max-width: 500px) {
  .beans-card.big-card .dirfac-card {
    overflow-y: scroll;
  }

  .beans-card.small-card .dirfac-card {
    overflow-y: scroll;
    /* max-height: 195px; */
  }

  .dirfac-spacer-card {
    height: 20px;
  }
}

.beans-card .distance {
  color: #777;
  max-width: calc(100vw - 130px);
}

.beans-card .tile {
  width: calc(100% - 10px);
  height: 95px;
  background-color: #eee;
  border-radius: 15px;
  padding-top: 20px;
  margin-left: 5px;
  text-align: center;
}

.beans-card .tile .tileiconcontainer {
  width: 60px;
  height: 45px;
  margin-left: calc(50% - 30px);
  padding-top: 15px;
}

.beans-card .tile .tileicon {
  width: 30px;
  height: 30px;
  margin: auto;
}

.beans-card .tile .tileiconcontainer.unknown {
  background-color: #c8c8c8 !important;
}

.beans-card .tile .tiletext.unknown {
  color: #a8a8a8 !important;
}

.beans-card .tile .tileicon.type-parking {
  background-color: #eee;
  mask-size: 30px 30px;
  -webkit-mask-size: 30px 30px;
  mask-image: url(https://www.beans.ai/m/assets/parking.svg);
  -webkit-mask-image: url(https://www.beans.ai/m/assets/parking.svg);
}

.beans-card .tile .tileicon.type-entrance {
  background-color: #eee;
  mask-size: 30px 30px;
  -webkit-mask-size: 30px 30px;
  mask-image: url(https://www.beans.ai/m/assets/entrance.svg);
  -webkit-mask-image: url(https://www.beans.ai/m/assets/entrance.svg);
}

.beans-card .tile .tileicon.type-stair {
  background-color: #eee;
  mask-size: 30px 30px;
  -webkit-mask-size: 30px 30px;
  mask-image: url(https://www.beans.ai/m/assets/stair.svg);
  -webkit-mask-image: url(https://www.beans.ai/m/assets/stair.svg);
}

.beans-card .tile .tileicon.type-elevator {
  background-color: #eee;
  mask-size: 30px 30px;
  -webkit-mask-size: 30px 30px;
  mask-image: url(https://www.beans.ai/m/assets/elevator.svg);
  -webkit-mask-image: url(https://www.beans.ai/m/assets/elevator.svg);
}

.beans-card .tile .tileicon.type-unit {
  background-color: #eee;
  mask-size: 30px 30px;
  -webkit-mask-size: 30px 30px;
  mask-image: url(https://www.beans.ai/m/assets/unit.svg);
  -webkit-mask-image: url(https://www.beans.ai/m/assets/unit.svg);
}

.beans-card .tile .tiletext {
  height: 20px;
}

.beans-card .navigate {
  background-color: rgb(0, 124, 207);
  mask-size: 50px 50px;
  -webkit-mask-size: 50px 50px;
  mask-image: url(https://www.beans.ai/m/assets/navigate.svg);
  -webkit-mask-image: url(https://www.beans.ai/m/assets/navigate.svg);
  width: 50px;
  height: 50px;
  float: right;
}

.beans-buttonbar {
  position: absolute;
  right: 10px;
  width: 50px;
  top: 10px;
}

.beans-buttonbar.modern {
  position: absolute;
  right: 10px;
  width: 150px;
  top: 10px;
}

.beans-buttonbar.outside {
  top: 50px;
}

@container body2 (max-width: 500px) {
  .beans-buttonbar {
    left: 10px;
    right: auto;
  }
}

.beans-buttonbar-left {
  position: absolute;
  right: 80px;
  width: 320px;
  top: 10px;
  max-width: calc(100% - 90px);
}

.beans-buttonbar-left.modern {
  position: absolute;
  right: 180px;
  width: 320px;
  top: 10px;
  max-width: calc(100% - 90px);
}

.beans-buttonbar-left.outside {
  top: 50px !important;
}

.beans-buttonbar .satellite {
  background: url(https://www.beans.ai/m/assets/satellite.svg) no-repeat 0px 0px;
  background-size: 50px 50px;
  width: 50px;
  height: 50px;
  margin-top: 3px;
  cursor: pointer;
}

.beans-buttonbar .d3 {
  background: url(https://www.beans.ai/m/assets/3d.svg) no-repeat 0px 0px;
  background-size: 50px 50px;
  width: 50px;
  height: 50px;
  margin-top: 3px;
  cursor: pointer;
}

.beans-buttonbar .d2 {
  background: url(https://www.beans.ai/m/assets/2d.svg) no-repeat 0px 0px;
  background-size: 50px 50px;
  width: 50px;
  height: 50px;
  margin-top: 3px;
  cursor: pointer;
}

.beans-buttonbar .help {
  background: url(https://www.beans.ai/m/assets/help.svg) no-repeat 0px 0px;
  background-size: 50px 50px;
  width: 50px;
  height: 50px;
  margin-top: 3px;
  cursor: pointer;
}

.beans-buttonbar .mylocation {
  background: url(https://www.beans.ai/m/assets/mylocation.svg) no-repeat 0px 0px;
  background-size: 50px 50px;
  width: 50px;
  height: 50px;
  margin-top: 3px;
  cursor: pointer;
}

.beans-buttonbar .fullscreen {
  background: url(https://www.beans.ai/m/assets/size.svg) no-repeat 0px 0px;
  background-size: 50px 50px;
  width: 50px;
  height: 50px;
  margin-top: 3px;
  cursor: pointer;
}

.beans-buttonbar .mylocation-pinned {
  background: url(https://www.beans.ai/m/assets/mylocation-fill.svg) no-repeat 0px 0px;
  background-size: 50px 50px;
  width: 50px;
  height: 50px;
  margin-top: 3px;
  cursor: pointer;
}

.beans-buttonbar .shadow {
  background: url(https://www.beans.ai/m/assets/shadow.svg) no-repeat 0px 0px;
  background-size: 50px 50px;
  width: 50px;
  height: 50px;
  margin-top: 3px;
  cursor: pointer;
}

.beans-buttonbar .neighbor {
  background: url(https://www.beans.ai/m/assets/neighbor.svg) no-repeat 0px 0px;
  background-size: 50px 50px;
  width: 50px;
  height: 50px;
  margin-top: 3px;
  cursor: pointer;
}

.beans-buttonbar .amenity {
  background: url(https://www.beans.ai/m/assets/neighbor.svg) no-repeat 0px 0px;
  background-size: 50px 50px;
  width: 50px;
  height: 50px;
  margin-top: 3px;
  cursor: pointer;
}

.beans-buttonbar .immersive {
  background: url(https://www.beans.ai/m/assets/immersive.svg) no-repeat 0px 0px;
  background-size: 50px 50px;
  width: 50px;
  height: 50px;
  margin-top: 3px;
  cursor: pointer;
}

.beans-buttonbar .poi {
  background: url(https://www.beans.ai/m/assets/teardrop.svg) no-repeat 0px 0px;
  background-size: 50px 50px;
  width: 50px;
  height: 50px;
  margin-top: 3px;
  cursor: pointer;
}

.beans-buttonbar .filter {
  background: url(https://www.beans.ai/m/assets/filter.svg) no-repeat 0px 0px;
  background-size: 50px 50px;
  width: 50px;
  height: 50px;
  margin-top: 3px;
  cursor: pointer;
}

.beans-buttonbar .close {
  background: url(https://www.beans.ai/m/assets/close.svg) no-repeat 0px 0px;
  background-size: 50px 50px;
  width: 50px;
  height: 50px;
  margin-top: 3px;
  cursor: pointer;
}

.beans-buttonbar .sharer {
  background: url(https://www.beans.ai/m/assets/sharer.svg) no-repeat 0px 0px;
  background-size: 50px 50px;
  width: 50px;
  height: 50px;
  margin-top: 3px;
  cursor: pointer;
}

.rotate {
  position: absolute;
  bottom: 50px;
  right: 20px;
  width: 120px;
  height: 120px;
  cursor: pointer;
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 100px;
  border: 1px solid var(--beans-color-1, #0CB1A1);
}

.rotate .rotatel, .rotate .rotater, .rotate .rotated, .rotate .rotateu {
  -webkit-mask-repeat: no-repeat;
  background-color: var(--beans-color-1, #0CB1A1);
  cursor: pointer;
  position: absolute;
  opacity: 1;
}

.rotate .rotatel {
  -webkit-mask-size: 10px 60px;
  -webkit-mask-image: url(https://www.beans.ai/m/assets/rotatel.svg);
  mask-image: url(https://www.beans.ai/m/assets/rotatel.svg);
  width: 20px;
  height: 60px;
  top: 30px;
  left: 10px;
  margin-left: 9px;
}

.rotate .rotater {
  -webkit-mask-size: 10px 60px;
  -webkit-mask-image: url(https://www.beans.ai/m/assets/rotater.svg);
  mask-image: url(https://www.beans.ai/m/assets/rotater.svg);
  width: 20px;
  height: 60px;
  top: 30px;
  right: 10px;
}

.rotate .rotateu {
  -webkit-mask-image: url(https://www.beans.ai/m/assets/rotateu.svg);
  mask-image: url(https://www.beans.ai/m/assets/rotateu.svg);
  -webkit-mask-size: 60px 10px;
  width: 60px;
  height: 20px;
  top: 10px;
  left: 30px;
  opacity: 1;
  margin-top: 10px;
}

.rotate .rotated {
  -webkit-mask-image: url(https://www.beans.ai/m/assets/rotated.svg);
  mask-image: url(https://www.beans.ai/m/assets/rotated.svg);
  -webkit-mask-size: 60px 10px;
  width: 60px;
  height: 20px;
  bottom: 10px;
  left: 30px;
}

.rotate .rotater:hover, .rotate .rotatel:hover, .rotate .rotateu:hover, .rotate .rotated:hover {
  background-size: 12px 60px;
}

.rotate .rotatec {
  background: url(https://www.beans.ai/m/assets/rotatec.svg) no-repeat 0px 0px;
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  top: 45px;
  left: 45px;
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

.beans-buttonbar .active {
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.marker {
}

.marker-text {
  position: absolute;
  text-align:center;
  width: 50px;
  /* height: 20px; */
  /* background-color: #f00; */
}

.marker-text-img {
  /* position: absolute; */
  width: 10px;
  height: 10px;
  margin-left: 4px;
  margin-top: 4px;
  /* filter: invert(100%) opacity(0.8); */
  /* -webkit-filter: invert(100%) opacity(0.8); */
}

.marker-text-img-container {
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 10px;
  background-color: #EE6F48;
  border: 2px solid white;
}

.marker.inactive {
}

.poimarker {
  width: 42px;
  height: 34px;
  background-size: contain !important;
}

.marker.entrance {
  background: url(https://www.beans.ai/m/assets/ientrance.svg) no-repeat 0px 0px;
}

.marker.parking {
  background: url(https://www.beans.ai/m/assets/iparking.svg) no-repeat 0px 0px;
}

.marker.unit {
  background: url(https://www.beans.ai/m/assets/iunit.svg) no-repeat 0px 0px;
}

.beans-card .text-notes {
  margin-top: 15px;
}

.facilities-card-key {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 40px;
  text-align: center;
  z-index: 999;
  line-height: 20px;
  font-size: 13px;
  background-color: #fafafa;
  text-wrap: nowrap;
  line-height: 26px;
  /* padding-top: 5px; */
}

.beans-card .facilities-card {
  margin-top: 15px;
}

.beans-card .facilities-card .poi-container {
  display: flex;
  margin-top: 15px;
  margin-left: 10px;
  cursor: pointer;
}

.facilities-card-key .facilities-card-content {
  display: flex;
  float: right;
  margin-right: 10px;
  margin-top: 2px;
  max-width: calc(100% - 180px);
  overflow-x: scroll;
}

.facilities-card-key .poi-container {
  margin-top: 5px;
  text-align:left;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  padding-top: 3px;
  display: inline-flex;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.7rem;
}

.beans-card .facilities-card .poi {
  padding-left: 47px;
  background-size: 42px 34px;
  height: 34px;
}

.mapboxgl-popup-content {
  width: 250px;
}

.popup {
  max-width: 250px;
}

.popup-navigate {
  float: right;
  margin-left: 20px;
  background-color: rgb(0, 124, 207);
  mask-size: 25px 25px;
  -webkit-mask-size: 25px 25px;
  mask-image: url(https://www.beans.ai/m/assets/navigate.svg);
  -webkit-mask-image: url(https://www.beans.ai/m/assets/navigate.svg);
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.popup-title {
  display: inline-block;
  margin-top: 5PX;
  margin-bottom: 5px;
}

.popup-name {
  padding: 5px;
  width: 90px;
  display: inline-block;
}

.popup-value {
  padding: 5px;
  width: 140px;
  display: inline-block;
}

.gpopup-title {
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.gpopup-img {
  width: 100px;
  margin: 10px 25px 10px 25px;
}

.gpopup-value {
  font-size: 0.8rem;
}

.selectunit-container {
  display: block;
  background-color: #fff;
  border: 1px solid #eee;
  padding: 10px;
  /* width: 440px;
  margin-left: -230px; */
  font-family: "Poppins", sans-serif;
  font-size: 12px !important;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgb(0 0 0 / 10%);
}

.poi-container {
  font-family: "Poppins", sans-serif;
}

.selectunit-container-exit {
  position: absolute;
  cursor: pointer;
  right: 2px;
  top: 2px;
  padding: 0;
  width: 35px;
  background-color: #eee;
  font-size: 25px;
  text-align: center;
}

.selectunit-container-exit:hover {
  background-color: #eee;
}

.selectunit-row {
  padding: 1px;
}

.selectunit-name {
  padding: 5px;
  display: inline-block;
}

.selectunit-value {
  float: right;
  padding: 5px;
  font-size: 13px;
  font-weight: 600;
  text-align: right;
}

.selectunit-img {
  width: 20px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
}

.selectunit-title {
  font-size: 18px;
  font-weight: 600;
  padding: 5px 5px 5px 0px;
}

.selectunit-drawing {
  max-width: 100%;
  margin-top: 25px;
  text-align: center;
}

.selectunit-drawing-img {
  max-width: 100%;
  max-height: 200px;
  cursor: pointer;
}

.selectunit-leftright {
  display: flex;
  height: 100%;
}

.selectunit-leftright .selectunit-drawing {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  flex: 2;
  height: 100%;
  align-items: center;
}

.selectunit-leftright .selectunit-drawing-img {
  max-width: 100%;
  max-height: 100%;
  width: 90%;
  height: 90%;
  /* height: 100%; */
  display: flex;
  object-fit: contain;
}

.selectunit-leftright .selectunit-content {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.selectunit-leftright .selectunit-title {
  font-size: 24px;
}

.selectunit-leftright .selectunit-subcontent {
  font-size: 0.8rem;
  color: #999;
}

.selectunit-leftright .selectparking-confirm {
  margin-top: 10px;
}

.selectunit-leftright .selectunit-date {
  margin-top: 30px;
  font-size: 0.8rem;
  padding: 8px;
  width: 50%;
}

.beans-btn {
  font-family: "Poppins", sans-serif;
  border-radius: 5px 5px 5px 5px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .5px;
  text-decoration: none;
  outline: none;
  margin-top: 10px;
  padding: 8px 12px;
  position: relative;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  transition: all 0.3s;
  margin-bottom: 6px;
  outline: none;
  line-height: 14px;
  min-width: 100px;
  cursor: pointer;

  border: 1px solid #3079ED !important;
  color: white !important;
  background-color: #4D90FE !important;
}

.selectparking-confirm {
}

.selectparking-cancel {
  border: 1px solid #777777 !important;
  background-color: #AAAAAA !important;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.selectparking-container {
  display: block;
  background-color: #fff;
  border: 1px solid #eee;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 12px !important;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgb(0 0 0 / 10%);
}

.selectparking-name {
  padding: 5px;
  width: 175px;
  display: inline-block;
}

.selectparking-value {
  padding: 5px;
  width: 95px;
  text-align: right;
  display: inline-block;
}

.marker-image-preview-container {
  position: relative;
  width: 85px;
  height: 85px;
  border: 1px solid #ccc;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
  text-align: center;
}

.marker-image-preview {
  max-width: 85px !important;
  max-height: 85px !important;
}

.poi-swimmingpool {
  background: url(https://www.beans.ai/m/assets/iswimmingpool.svg) no-repeat 0px 0px;
}

.poi-office {
  background: url(https://www.beans.ai/m/assets/ioffice.svg) no-repeat 0px 0px;
}

.poi-clubhouse {
  background: url(https://www.beans.ai/m/assets/iclubhouse.svg) no-repeat 0px 0px;
}

.poi-laundry {
  background: url(https://www.beans.ai/m/assets/ilaundry.svg) no-repeat 0px 0px;
}

.poi-mailroom {
  background: url(https://www.beans.ai/m/assets/imailroom.svg) no-repeat 0px 0px;
}

.poi-packagelocker {
  background: url(https://www.beans.ai/m/assets/ipackagelocker.svg) no-repeat 0px 0px;
}

.poi-bbq {
  background: url(https://www.beans.ai/m/assets/ibbq.svg) no-repeat 0px 0px;
}

.poi-gym {
  background: url(https://www.beans.ai/m/assets/igym.svg) no-repeat 0px 0px;
}

.poi-trash {
  background: url(https://www.beans.ai/m/assets/itrash.svg) no-repeat 0px 0px;
}

.poi-tennis {
  background: url(https://www.beans.ai/m/assets/itennis.svg) no-repeat 0px 0px;
}

.poi-carwash {
  background: url(https://www.beans.ai/m/assets/icarwash.svg) no-repeat 0px 0px;
}

.poi-cyclestorage {
  background: url(https://www.beans.ai/m/assets/icyclestorage.svg) no-repeat 0px 0px;
}

.marker-mylocation {
  background-image: url('https://www.beans.ai/m/assets/bluecircle-with-horn.png');
  background-size: cover;
  width: 130px;
  height: 130px;
}

.beans-container {
  --fs-top-offset: 0px;
  --fs-bottom-offset: 0px;
  position: relative;
  overflow: hidden;
}

.beans-container.beans-container-fullscreen {
  position: fixed;
  left: 0 !important;
  top: var(--fs-top-offset) !important;
  height: calc(100vh - var(--fs-top-offset) - var(--fs-bottom-offset)) !important;
  margin: 0 !important;
  width: 100vw !important;
  overflow: hidden !important;
  z-index: 999 !important;
}

/* .beans-container-fullscreen > .BeansMapbox {
  height: 100vh !important;
  position: absolute !important;
} */

.beans-container-fullscreen > .beans-card  {
  display: none !important;
}

/* @media screen and (min-width: 500px) { */
@container body2 (min-width: 500px) {
  .beans-card {
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;

    position: absolute;
    left: 20px;
    top: 20px;
    padding: 20px;
    margin: 0;
    width: 350px;
    max-width: 33%;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgb(0 0 0 / 10%);
    height: calc(100% - 80px);
    background-color: #fff;
    z-index: 999;

    overflow-y: scroll;
  }

  .beans-card.modern {
    box-shadow: none;
    padding: 0px;
    width: 280px;
  }

  .beans-card.separate-facilities-card {
    height: calc(100% - 120px);
  }

  .beans-card.modern .result-card {
    padding: 0px;
  }

  .beans-buttonbar {
    top: 20px !important;
  }

  .beans-buttonbar-left {
    top: 20px !important;
  }

  .beans-buttonbar-left.wide {
    position: absolute;
    right: 80px;
    width: calc(100% - 510px);
    top: 10px;
    max-width: calc(100% - 90px);
    height: calc(100% - 80px);
  }

  .beans-buttonbar-left.modern.wide {
    position: absolute;
    right: 180px;
    width: calc(100% - 610px);
    top: 10px;
    max-width: calc(100% - 90px);
  }
  .wide .selectunit-container {
    height: calc(100% - 150px);
    padding: 20px;
  }
}

.links-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.links-text {
  text-decoration: underline;
  padding-top: 3px;
  margin-left: 10px;
  margin-right: 10px;
}

/* @media screen and (max-width: 500px) { */
@container body2 (max-width: 500px) {
  .links-card {
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: #fff;

    position: absolute;
    top: 15px;
    width: 50%;
    left: 10px;
  }
}

/* @media screen and (min-width: 500px) { */
@container body2 (min-width: 500px) {
  .links-card {
    background-color: #eee;
    margin-top: 10px;
    height: 30px;
    padding-top: 10px;
    padding-bottom: 5px;
    border-radius: 8px;
    margin-right: -10px;
    margin-left: -10px;
  }
}

.floor-card {
  margin-top: 20px;
  text-align: center;
  max-height: 230px;
  overflow-y: scroll;
}

.parking-card {
  margin-top: 10px;
}

.directions-row {
  margin-left: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #eee;
}

.directions-card {
  padding-bottom: 20px;
}

.directions-img-container {
  display: inline-block;
  width: 30px;
  vertical-align: top;
}

.directions-text {
  display: inline-block;
  width: calc(100% - 30px);
}

.directions-subtext {
  margin-left: 30px;
  font-size: 11px !important;
  color: #777 !important;
}

.clickdata-card {
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid #eee;
}

.clickdata-container {
  border-bottom: 1px solid #eee;
  padding-top: 5px;
  padding-bottom: 5px;
}

.clickdata-key {
  width: 50%;
  display: inline-block;
}

.clickdata-value {
  width: 50%;
  display: inline-block;
}

.floor-picker {
  font-size: 12px !important;
  font-weight: 500 !important;

  width: 30px;
  height: 23px;
  margin: 0;
  text-align: center;
  display: inline-block;
  padding-top: 2px;
  cursor: pointer;
  border: 1px solid #eee;
  background-color: #fff;
  color: #000;
}

.floor-picker-title {
  font-weight: 500 !important;
  font-size: 0.8rem;
  color: #000;
}

.floor-picker-active {
  font-size: 12px !important;
  font-weight: 500 !important;

  width: 30px;
  height: 23px;
  margin: 0;
  text-align: center;
  display: inline-block;
  padding-top: 2px;
  cursor: pointer;
  border: 1px solid #eee;
  background-color: var(--beans-color-1, #0CB1A1);
  color: var(--beans-text-color-1, #fff) !important;
}

.floor-picker:hover {
  background-color: #027BCF;
  color: #fff;
}

.parking-picker {
  font-size: 12px !important;
  font-weight: 500 !important;

  width: 320px;
  height: 23px;
  margin: 0;
  display: inline-block;
  padding-top: 2px;
  cursor: pointer;
  border: 1px solid #eee;
  background-color: #fff;
}

.parking-picker-circle {
  height: 10px;
  width: 10px;
  background-color: #fff;
  border-radius: 5px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
}

.parking-picker-text {
  float: right;
  margin-right: 25px;
}

.parking-picker-active {
  font-size: 12px !important;
  font-weight: 500 !important;

  width: 320px;
  height: 23px;
  margin: 0;
  display: inline-block;
  padding-top: 2px;
  cursor: pointer;
  border: 1px solid #eee;
  background-color: var(--beans-color-1, #0CB1A1);
  color: #fff !important;
}

.parking-picker:hover {
  background-color: #027BCF;
  color: #fff;
}

/* @media screen and (min-width: 500px) { */
@container body2 (min-width: 500px) {
  .swipe-card {
    display: none;
  }
}

.beans-container {
  container-type: inline-size;
  container-name: body2;
}

/* @media screen and (max-width: 500px) { */
@container body2 (max-width: 500px) {
  .swipe-card {
    height: 5px;
    border-radius: 2.5px;
    width: 50%;
    background-color: #ccc;
    position: absolute;
    top: 10px;
    left: 25%;
  }

  .beans-card {
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    padding-top: 20px;
  }

  .beans-card.big-card {
    position: absolute;
    left: 0px;
    width: 100%;
    top: 120px;
    height: calc(100% - 120px);
    background-color: #fff;
    z-index: 999;
  }

  .beans-card.small-card {
    position: absolute;
    left: 0px;
    width: 100%;
    top: calc(100% - 260px);
    height: 260px;
    background-color: #fff;
    z-index: 999;
  }

  .beans-card.active {
    top: 10px;
    height: calc(100% - 10px);
  }
}

.esri-daylight {
  position: fixed !important;
  right: 160px !important;
  bottom: 50px !important;
  margin-left: 0px !important;
  max-width: calc(100% - 40px);
}

@container body2 (max-width: 500px) {
  .esri-daylight {
    position: fixed !important;
    right: auto;
    left: 10px !important;
    bottom: 50px !important;
    /* margin-left: 0px !important; */
    max-width: calc(100% - 160px);
  }
}

.unitlist-filter-subcontainer {
  margin-right: 8px;
  display: flex;
  flex-direction: column;
  flex: 2;
}

.available-title {
  margin-top: 20px;
}

.unitlist-element-container {
  border-bottom: 1px solid #eee;
  padding: 10px;
}

.unitlist-element-container.selected {
  background-color: var(--beans-color-1, #0CB1A1);
  border-bottom: 1px solid #eee;
  padding: 10px;
  cursor: pointer;
}

.unitlist-element-container.selected .unitlist-element-title, .unitlist-element-container.selected .unitlist-element-val, .unitlist-element-container.selected .unitlist-element-name {
  color: #fff;
}

.unitlist-element-container.selected .unitlist-element-img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.unitlist-element-container.filteredout {
}

.unitlist-element-container.filteredout div {
  color: #ddd;
}

.unitlist-element-container:hover {
  background-color: #fafafa;
}

.unitlist-element-name {
  padding: 1px;
  display: inline-block;
}

.unitlist-element-img {
  width: 14px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}

/* .unitlist-element-container.selected:hover {
  background-color: #0CB1A1;
  color: #fff;
  border-bottom: 1px solid #eee;
  padding: 10px;
} */

.unitlist-element-title {
  font-weight: 600 !important;
}

.esri-popup__main-container {
  width: 260px !important;
}

.list-poi {
  width: 200px;
  padding: 10px;
  height: 140px;
  position: absolute;
  background-color: #fff;
  margin-left: 200px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes list-poi-animation {
    100% {margin-left: -230px;}
}
/* Standard syntax */
@keyframes list-poi-animation {
    100% {margin-left: -230px;}
}

.list-poi-active {
  -webkit-animation: list-poi-animation 1s forwards; /* Chrome, Safari, Opera */
    animation: list-poi-animation 1s forwards;
}

@container body2 (max-width: 500px) {
  .list-poi {
    width: 200px;
    padding: 10px;
    height: 140px;
    position: absolute;
    background-color: #fff;
    margin-left: -280px;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
  }

  /* Chrome, Safari, Opera */
  @-webkit-keyframes list-poi-animation-mobile {
      100% {margin-left: 60px;}
  }
  /* Standard syntax */
  @keyframes list-poi-animation-mobile {
      100% {margin-left: 60px;}
  }

  .list-poi-active {
    -webkit-animation: list-poi-animation-mobile 1s forwards; /* Chrome, Safari, Opera */
      animation: list-poi-animation-mobile 1s forwards;
  }
}

.list-poi-element {
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

.list-poi-element:hover {
  background-color: #fafafa;
}

.list-poi-element-icon {
  display: inline-block;
  background-color: #D3B32A;
  padding: 2px;
  margin-right: 10px;
}

.list-poi-element-text {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}

.list-poi-element-icon-img {
  width: 16px;
}

.beans-map-button-container .list-filters, .beans-buttonbar .list-filters {
  width: 200px;
  padding: 10px;
  position: absolute;
  background-color: #fff;
  margin-left: 200px;
  border-radius: 5px;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes list-filters-animation {
    100% {margin-left: -230px;}
}
/* Standard syntax */
@keyframes list-filters-animation {
    100% {margin-left: -230px;}
}

.beans-map-button-container .list-filters-active, .beans-buttonbar .list-filters-active {
  -webkit-animation: list-filters-animation 1s forwards; /* Chrome, Safari, Opera */
    animation: list-filters-animation 1s forwards;
}

@container body2 (max-width: 500px) {
  .beans-map-button-container .list-filters, .beans-buttonbar .list-filters {
    width: 200px;
    padding: 10px;
    position: absolute;
    background-color: #fff;
    margin-left: -280px;
    border-radius: 5px;
  }

  /* Chrome, Safari, Opera */
  @-webkit-keyframes list-filters-animation-mobile {
      100% {margin-left: 60px;}
  }
  /* Standard syntax */
  @keyframes list-filters-animation-mobile {
      100% {margin-left: 60px;}
  }

  .beans-map-button-container .list-filters-active, .beans-buttonbar .list-filters-active {
    -webkit-animation: list-filters-animation-mobile 1s forwards; /* Chrome, Safari, Opera */
      animation: list-filters-animation-mobile 1s forwards;
  }

  .beans-outside-button-container .list-filters {
    width: calc(100% - 20px);
    padding: 10px;
    position: absolute;
    background-color: #fff;
    color: #000;
    margin-top: -400px;
    border-radius: 5px;
  }

  /* Chrome, Safari, Opera */
  @-webkit-keyframes outside-list-filters-animation-mobile {
      100% {margin-top: 40px;}
  }
  /* Standard syntax */
  @keyframes outside-list-filters-animation-mobile {
      100% {margin-top: 40px;}
  }

  .beans-outside-button-container .list-filters-active {
    -webkit-animation: outside-list-filters-animation-mobile 1s forwards; /* Chrome, Safari, Opera */
      animation: outside-list-filters-animation-mobile 1s forwards;
  }
}

.beans-map-button-container .list-floors {
  width: 200px;
  padding: 10px;
  height: 140px;
  position: absolute;
  background-color: #fff;
  margin-left: 200px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes list-floors-animation {
    100% {margin-left: -230px;}
}
/* Standard syntax */
@keyframes list-floors-animation {
    100% {margin-left: -230px;}
}

.beans-map-button-container .list-floors-active {
  -webkit-animation: list-floors-animation 1s forwards; /* Chrome, Safari, Opera */
    animation: list-floors-animation 1s forwards;
}

@container body2 (max-width: 500px) {
  .beans-map-button-container .list-floors {
    width: 200px;
    padding: 10px;
    height: 140px;
    position: absolute;
    background-color: #fff;
    margin-left: -280px;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
  }

  /* Chrome, Safari, Opera */
  @-webkit-keyframes list-floors-animation-mobile {
      100% {margin-left: 60px;}
  }
  /* Standard syntax */
  @keyframes list-floors-animation-mobile {
      100% {margin-left: 60px;}
  }

  .beans-map-button-container .list-floors-active {
    -webkit-animation: list-floors-animation-mobile 1s forwards; /* Chrome, Safari, Opera */
      animation: list-floors-animation-mobile 1s forwards;
  }

  .beans-outside-button-container .list-floors {
    width: calc(100% - 20px);
    padding: 10px;
    position: absolute;
    background-color: #fff;
    margin-top: -400px;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
  }

  /* Chrome, Safari, Opera */
  @-webkit-keyframes outside-list-floors-animation-mobile {
      100% {margin-top: 40px;}
  }
  /* Standard syntax */
  @keyframes outside-list-floors-animation-mobile {
      100% {margin-top: 40px;}
  }

  .beans-outside-button-container .list-floors-active {
    -webkit-animation: outside-list-floors-animation-mobile 1s forwards; /* Chrome, Safari, Opera */
      animation: outside-list-floors-animation-mobile 1s forwards;
  }

}

.list-floors-element {
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

.list-floors-element:hover {
  background-color: #fafafa;
}

.list-floors-element-icon {
  display: inline-block;
  background-color: #D3B32A;
  padding: 2px;
  margin-right: 10px;
}

.list-floors-element-text {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}

.list-floors-element-icon-img {
  width: 16px;
}

select {
  font-size: 0.8rem;
}

.esri-compass {
  margin-bottom: 20px !important;
}